

@{
    ViewBag.Title = "Department";
}

<h2>Department</h2>

<ul>
    <li>
        @Html.ActionLink("IT", "Filter", "Customer", new { Did = 1 }, null);
    </li>
    <li>
        @Html.ActionLink("Nursing", "Filter", "Customer", new { Did = 2 }, null);
    </li>
    <li>
        @Html.ActionLink("Finance", "Filter", "Customer", new { Did = 3 }, null);
    </li>
</ul>

