@model IEnumerable<MVC_test1.Models.Customer>

@using MVC_test1.Models;

@{
    ViewBag.Title = "Custumer List";
}
<!-- View for Customer List-->
<h2>Name table</h2>
<div style="font-family:Arial">
    <ul>
        @foreach (Customer customer in @Model)
        {
            <li>
                @Html.ActionLink(customer.FirstName, "Details", new { Id = customer.CustomerId });
            </li>
        }
    </ul>
    <div style="float: right; display: inline-block; width: 500px; height: 100%; margin: 0px;">
        <ul style="list-style: none; margin: 0px; width: 400px; height: 140px; ">
            <l1>
                <b>@Html.ActionLink("Table View", "Index", "Customer")</b>
            </l1>
            <l1>
                <b>@Html.ActionLink("Home", "Index", "Home")</b>
            </l1>
        </ul>
    </div>


