@model Login.Models.Login

@{
    Layout = null;
}

<h2>Login</h2>

<html>
<head>
    <title>
        Login to Your account
    </title>
</head>
<body>
    <div id="login-div" style="border:1px solid #0094ff">

        @using (Html.BeginForm("Auth","Login",FormMethod.Post))
        {
            <table>
                <tr>
                    <td style="text-decoration:underline">
                        Login Here
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Username)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Username)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="name" value="Login" />
                        <input type="reset" name="name" value="Clear" />
                    </td>
                </tr>
            </table>
        }

    </div>
</body>
</html>


