model Login.Models.gmail
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<html>
<head>

</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Email",FormMethod.Post,new { enctype = "multipart/form-data" }))
        {
            <center>
                <h1>Send Your mail</h1>
                <table>
                    <tr>
                        <td style="width:80px"> To: </td>
                        <td> @Html.TextBoxFor(model => model.To)    </td>
                    </tr>
                    <tr>
                        <td> Subject: </td>
                        <td>  @Html.TextBoxFor(model => model.Subject)       </td>
                    </tr>
                    <tr>
                        <td valign="top"> Body: </td>

                        <td>  @Html.TextAreaFor(model => model.Body,new { rows="15",cols="25"})       </td>
                    </tr>
                    <tr>
                        <td> <input type="submit" value="Send"/> </td>
                        <td>     </td>
                    </tr>
                </table>
                <span style="color:green">@ViewBag.Message</span>
            </center>
        }
    </div>
</body>
</html>