@model Login.Models.Map

@{
    ViewBag.Title = "Map";
}

<h2>Map</h2>
<head>
    <title>
        Login to Your account
    </title>
</head>
<body>
  <div id="login-div" style="border:1px solid #0094ff">

          @using (Html.BeginForm("Mapp", "Map", FormMethod.Post))
          {
              <table>
                  <tr>
                      <td style="text-decoration:underline">
                          Login Here
                      </td>
                  </tr>
                  <tr>
                      <td>
                          @Html.LabelFor(model => model.latitude)
                      </td>
                      <td>
                          @Html.EditorFor(model => model.latitude)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          @Html.LabelFor(model => model.logitude)
                      </td>
                      <td>
                          @Html.EditorFor(model => model.logitude)
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="submit" name="name" value="Submit" />
                          <input type="reset" name="name" value="Clear" />
                      </td>
                  </tr>
              </table>
          }

      </div>
</body>
</html>
