@model Login.Models.URL

@{
    /*"http://api.openweathermap.org/data/2.5/weather?q=Dublin&APPID=e911d33d2a09374dae45a32724aef3fe&unit=imperial"*/

    ViewBag.Title = "Weather";
}

<h2>Weather</h2>
<p id="Place"></p>
<p id="Temperature"></p>
<p id="Humidity"></p>
<p id="Pressure"></p>
<label>Enter city</label>
<input type="text" id="a1" value="City" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<button>Get Weather</button>
<script>


    $(document).ready(function () {
        $("button").click(function () {

            $.get("http://api.openweathermap.org/data/2.5/weather?q=Dublin&APPID=e911d33d2a09374dae45a32724aef3fe&unit=imperial", function (response) {

                console.log(response);


               Place: $("#Place").text(response.name);

                Temperature: $("#Temperature").text(response.main.temp);

              Pressure: $("#Pressure").text(response.main.pressure);

            });

        });
    });


</script>

