@{
    /**/

    ViewBag.Title = "Weather";
}

<h2>Weather</h2>
<p id="Place"></p>
<p id="Temperature"></p>
<p id="Humidity"></p>
<p id="Pressure"></p>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<button>Get Weather</button>
<script>


    $(document).ready(function () {
        $("button").click(function () {

            $.get("@Url.Action("GetWether","Weather","Dublin")", function (response) {

                console.log(response);


               Place: $("#Place").text(response.name);

                Temperature: $("#Temperature").text(response.main.temp);

              Pressure: $("#Pressure").text(response.main.pressure);

            });

        });
    });


</script>

