@{
    /**/

    ViewBag.Title = "Weather";
}

<h2>Weather</h2>
<p id="Place"></p>
<p id="Temperature"></p>
<p id="Humidity"></p>
<p id="Pressure"></p>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>


    $(document).ready(function () {
        

            $.get("@Url.Action("GetWether","Weather","Dublin")", function (response) {

                console.log(response);


                $("#Place").text(response.name);

                 $("#Temperature").text(response.main.temp);

              $("#Pressure").text(response.main.pressure);

            });

        
    });


</script>

